<h1>Log In</h1>
<%= form_with(url: new_user_session_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "Log In" %>
    <%= link_to 'New User', new_user_path %>

  </div>
<% end %>
<%= link_to 'Log in', new_user_session_path %>