<h1>Dog Sightings</h1>

<%= link_to 'Create a New Dog Sighting', new_dog_sighting_path, class: 'btn' %>


<table>
  <thead>
    <tr>
      <th>Dog Description</th>
      <th>Location</th>
      <th>City</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dog_sightings.each do |sighting| %>
      <tr>
        <td><%= sighting.dog_description %></td>
        <td><%= sighting.location %></td>
        <td><%= sighting.city.city_name if sighting.city %></td>
        <td><%= sighting.user.email if sighting.user %></td>
        <td>
          <%= link_to 'Show', dog_sighting_path(sighting), class: 'btn' %>
          <%= link_to 'Edit', edit_dog_sighting_path(sighting), class: 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'See Cities', cities_path, class: 'btn' %>

<% if user_signed_in? %>
  <%= link_to 'My Dog Sightings', users_path(current_user), class: 'btn' %>

  <%= button_to 'Logoff', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: 'btn' %>
<% end %>
