<h1>Cities</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_name %></td>
        <td>
          <%= link_to 'Show', city_path(city), class:'btn' %> |
          <% if city.user_id.present? %>
            <%= link_to 'Edit', edit_city_path(city), class:'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add City Here', new_city_path, class: 'btn btn-primary' %>

<br><%= link_to 'All Dog Sightings', dog_sightings_path, class: 'btn' %>
<%= button_to 'Logoff', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
